div.center {
	text-align: center;
}

p.quote {
	font-size: 2em;
	color: #000044;
}

#fiers h1 {
	font-family: arial;
	font-size: 2.5em;
	font-weight: bold;
	color: #F284B5;
	
	display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#fiers.present .rotating  {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

#ready p, #go p {
    font-size : 4em;
}
#go p img {
    vertical-align: middle;
	padding-right: 20px;
}

h1.menu {
	font-size: 2em;
	color: #000044;
}

h1.title {
	font-size: 1.7em;
	color: #555555;
}

#morts img {
	padding-top: 30px;
}